<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,viewport-fit=cover">
    <title>Food Website</title>
    <link rel="stylesheet" href="/food_menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <table>
        {% for i in range(items[0]|length) %}
        <form action="{{request.path}}" method="post">
            <tr>
                <td>{{items[0][i]}}</td>
                <td>{{items[1][i]}}</td>
                <td>{{items[2][i]}}</td>

                <td></td><input type="hidden" name="item" value="{{items[0][i]}}"></td>
                <td><input type="submit" value="Add to cart"></td>
                <br>
            </tr>
        </form>
        {% endfor %}
    </table>
</body>

</html>